<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <title>Gustavo</title>
</head>

<body>
    <aside id="header">
        <section class="profile">
            <img src="" alt="Imagem do gustavo">
            <h1>Gustavo José Costa Gregenski </h1>
            <br>
            <div class="social-links mt4 text-center">
                <a target="_blank" href=""><i class="bi bi-github"></i></a><!-- links para as redes sociais -->
                <a target="_blank" href=""><i class="bi bi-whatsapp"></i></a>
                <a target="_blank" href=""><i class="bi bi-instagram"></i></a>
                <a target="_blank" href=""><i class="bi bi-linkedin"></i></a>

            </div>
        </section>

        <br>
        <nav id="navbar" class="nave-menu">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">
                        <img class="img_estrela" src="../static/img/img_estrela/1estrela.png" alt=""> Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"> <img class="img_estrela" src="../static/img/img_estrela/2estrela.png">
                        Sobre </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"> <img class="img_estrela" src="../static/img/img_estrela/3estrela.png">
                        Habilidades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><img class="img_estrela"
                            src="../static/img/img_estrela/4estrela.jpg">Educação</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><img class="img_estrela"
                            src="../static/img/img_estrela/5estrela.png">Projetos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><img class="img_estrela"
                            src="../static/img/img_estrela/6estrela.png">Extra</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><img class="img_estrela"
                            src="../static/img/img_estrela/7estrela.png">Contato</a>
                </li>
            </ul>
        </nav>
    </aside>
    <main id="main">
    <section id="inicio" class="row m-0 p-0">
        <div class="col-md-5 d-flex justify-content-center align-items-center
        flex-column">
            <h2 class="text-white ">Gustavo José Costa Gregenski</h2>
            <span class="text-white"> Freelancer e Estudante de Programação </span>
        </div>
  

    </section>
    </main>

    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
</body>

</html>